<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager statistics</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="container-fluid p-0" style="height:100vh">
    {% include 'Navigation_Bar.html' with active="statistics" %}
    
    {% if worker_distribution|length == 0 %}
    <div class="row d-flex h-100 justify-content-center align-items-center">
        <h3>No shifts worked yet</h3>
    </div>
    {% else %}

    <div class="row p-0 w-100 justify-content-center">
        <table class="table w-75">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Shifts worked</th>
                    <th scope="col">Hours worked</th>
                </tr>
            </thead>

            <tbody>
                {% for worker in worker_distribution %}
                <tr>
                    <td>{{worker.name}}</td>
                    <td>{{worker.shift_count}}</td>
                    <td>{{worker.total}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <div class="row p-0 text-center w-100">
        <div class="col">
            <i class="bi bi-people-fill text-primary"></i><span class="text-primary" style="margin-right: 2em;"> {{employee_count}} total worker{% if employee_count > 1%}s{% endif %}</span>
            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#insights" aria-controls="insights">View Insights</button>
        </div>
    </div>

    <div class="offcanvas offcanvas-end" style="color: white; background-color: #013c66;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="insights" aria-labelledby="insightsLabel">
        <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="insightsLabel"><i class="bi bi-stars small"></i> Insights</h5>
        <button type="button" class="btn-close btn-close-white text-reset" style="color:white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" >
            <p><strong>{{max_worker}}</strong> has worked the most weekend shifts</p>
            <p><strong>{{max_hours_worker}}</strong> has the most hours scheduled</p>
        </div>
    </div>
    {% endif %}
    
</body>
</html>