<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Manager statistics</title>
</head>
<body style="height: 100vh;">
    {% include 'Navigation_Bar.html' with active="statistics" %}
    {% include 'user/manager_stats_navbar.html' with active="breakdown"%}
    
    <div class="container-fluid h-50">
        
        {% if worker_distribution|length == 0 %}
        <div class="row d-flex h-100 justify-content-center align-items-center">
            <h3>No shifts worked yet</h3>
        </div>
        {% else %}

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Shifts worked</th>
                        <th scope="col">Hours worked</th>
                    </tr>
                </thead>

                <tbody>
                    {% for worker in worker_distribution %}
                    <tr>
                        <td>{{worker.name}}</td>
                        <td>{{worker.shift_count}}</td>
                        <td>{{worker.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <div class="row">
            <div class="col">
                <i class="bi bi-people-fill text-primary"></i><span class="text-primary"> {{employee_count}} total worker{% if employee_count > 1%}s{% endif %}</span>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>