<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Statistics</title>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js" integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="p-0">
    {% include 'Navigation_Bar.html' with active="statistics" %}
    {% include 'user/stats_navbar.html' with active="history" %}

    <div class="container-fluid p-3">
        <h3>{{message}} <span class="text-muted">£{{earnings}}</span></h3>
        <div class="list-group h-75" style="overflow-y: auto;">
        {% for s in shifts %}
            <div class="list-group-item">
                {{s.start_at}} - {{s.end_at}}
                <footer class="text-muted">
                    {{user.role}}
                    {% if s.wage_multiplier != 1.0 %}
                    <span class="badge text-bg-info">{{s.wage_multiplier}}x</span>
                    {% endif %}
                </footer>
            </div>
        {% endfor %}
        </div>
    </div>

</body>
</html>