<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <style>
        .main {
            align-items: center;
            text-align: center;
            justify-content: center;
            flex-direction: column;
        }

        
    </style>
</head>
<body class="main">
    {% include 'Navigation_Bar.html' with active="profile" %}
    <h1>Welcome {{ user.name }}</h1>
    <h2>Options:</h2>
    <!---->
        <a href="{% url 'logout' %}">Log out</a>
        <a href="{% url 'password_change' %}">Change password</a>
        <a href="{% url 'timetable' %}">Go to my Timetable</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'statistics' %}">Statistics</a>
    
</body>
</html>

