{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User settings</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'Navigation_Bar.html' with active="settings" %}
    <main class="container">
        <div class="row">
            <div class="col">

                <h1>Personal Information</h1>
        
                <form method="post" enctype="multipart/form-data" class="mb-3" id="form">
                    {% csrf_token %}
                    
                    <div class="form-content mb-3">
                        <label for="first_name_input">Name</h4>
                        {{ user_form.first_name }}      
                        {{ user_form.last_name }}
                        <small class="form-text text-muted">This is the name that will be listed under any of your scheduled shifts</small>
                    </div>
            
                    <div class="form-content mb-3">
                        <label for="email_input">Email</label>
                        {{ user_form.email }}
                        <small class="form-text text-muted">Updates and reminders will be sent to this address</small>
                    </div>
                    <button type="submit" id="submit_btn" class="btn btn-primary" disabled>Save Changes</button>
                    <button type="reset" id="reset_btn" class="btn btn-secondary" disabled>Reset</button>                           
                </form>
        
                <h1>Privacy and Security</h1>
        
                <p></p><a href="{% url 'password_change' %}" class="btn btn-secondary">Update password</a></p>
        
                <h1>Account Management</h1>
               
                <button type="button" class="btn btn-outline-danger disabled">Delete account</button>
            </div>
        </div>
    </main>
    <script>
        let form = document.getElementById("form")
        let sub = document.getElementById("submit_btn")
        let reset = document.getElementById("reset_btn")

        form.addEventListener("input", () => {
            sub.disabled = false
            reset.disabled = false
        })
        
        form.addEventListener("reset", () => {
            sub.disabled = true
            reset.disabled = true
        })

    </script>
</body>
</html>