<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Statistics</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js" integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    Hello, {{user}}

    {% if manager %}
        
    <h1>Manager</h1>


    {% elif empty %}

    <h2>Nothing to display!</h2>
    <h3>Once you work some shifts, this page will display data...</h3>

    {% else%}
    <h3>Shift distribution</h3>

    <div id="day_distribution"></div>

    <p>Monday: {{ days.monday }}</p>
    <p>Tuesday: {{ days.tuesday }}</p>
    <p>Wednesday: {{ days.wednesday }}</p>
    <p>Thursday: {{ days.thursday }}</p>
    <p>Friday: {{ days.friday }}</p>
    <p>Saturday: {{ days.saturday }}</p>
    <p>Sunday: {{ days.sunday }}</p>

    <h3>In the last 7 days</h3>
    <h4>Total earnings: £{{week.earnings}}</h4>
    {% for s in week.shifts %}
    <p>{{s.id}} -- {{user.role}}, Started at {{s.start_at}} Ended at {{s.end_at}} Multiplier - {{s.wage_multiplier}}</p>
    {% endfor %}
    
    <h3>This month so far</h3>
    <h4>Total earnings: £{{month.earnings}}</h4>
    {% for s in month.shifts %}
    <p>{{s.id}} -- {{user.role}}, Started at {{s.start_at}} Ended at {{s.end_at}} Multiplier - {{s.wage_multiplier}}</p>
    {% endfor %}
    
    <h3>This year so far</h3>
    <h4>Total earnings: £{{year.earnings}}</h4>
    {% for s in year.shifts %}
    <p>{{s.id}} -- {{user.role}}, Started at {{s.start_at}} Ended at {{s.end_at}} Multiplier - {{s.wage_multiplier}}</p>
    {% endfor %}
    
    <h3>Total</h3>
    <h4>Total earnings: £{{to_date.earnings}}</h4>
    {% for s in to_date.shifts %}
    <p>{{s.id}} -- {{user.role}}, Started at {{s.start_at}} Ended at {{s.end_at}} Multiplier - {{s.wage_multiplier}}</p>
    {% endfor %}

    <h2>Total hours worked to date: {{elapsed}}</h2>
    <h2>Total earnings to date: £{{to_date.earnings}}</h2>
    <hr>
    <h3>Next scheduled shifts</h3>
    {% for s in scheduled %}
    <p>{{s.id}} -- {{user.role}}, Starts at {{s.start_at}} Ends at {{s.end_at}} Multiplier - {{s.wage_multiplier}}</p>
    {% endfor %}
    {% endif %}
    <a href="{% url 'profile' %}">Back</a>
    <script>
        // set the dimensions and margins of the graph
        const margin = {top: 30, right: 30, bottom: 70, left: 60},
            width = 460 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        // append the svg object to the body of the page
        const svg = d3.select("#day_distribution")
        .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
        .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);

        data = [
            {day: "Monday", value: {{days.monday}}},
            {day: "Tuesday", value: {{days.tuesday}}},
            {day: "Wednesday", value: {{days.wednesday}}},
            {day: "Thursday", value: {{days.thursday}}},
            {day: "Friday", value: {{days.friday}}},
            {day: "Saturday", value: {{days.saturday}}},
            {day: "Sunday", value: {{days.sunday}}}
        ]
        // X axis
        const x = d3.scaleBand()
        .range([ 0, width ])
        .domain(data.map(d => d.day))
        .padding(0.2);

        svg.append("g")
        .attr("transform", `translate(0, ${height})`)
        .call(d3.axisBottom(x))
        .selectAll("text")
            .attr("transform", "translate(-10,0)rotate(-45)")
            .style("text-anchor", "end");

        // Add Y axis
        const y = d3.scaleLinear()
        .domain([0, 3])
        .rangeRound([ height, 0]);

        // svg.append("g")
        // .call(d3.axisLeft(y))

        // Bars
        svg.selectAll("mybar")
        .data(data)
        .join("rect")
        .attr("x", d => x(d.day))
        .attr("y", d => y(d.value))
        .attr("width", x.bandwidth())
        .attr("height", d => height - y(d.value))
        .attr("fill", "#69b3a2")
    </script>
</body>
</html>