<!-- This is an example template for testing only -->
<style>
    .login-container {
        background-color: #f4f7f6;

    }

    .headers {
        font-family: "Halvetica Neue", "Halvetica", "Arial", "sans-serif";
        color: #102a43;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .form-login {
        background: white;
        width: 400px;
        padding: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .inputs {
        width: 80%;
        padding: 10px 10px;
        margin-bottom: 15px;
        margin-bottom: 20px;
        border: 1px solid #dfe3e8;
    }

    .button-submit {
        background-color: #4c7ef3;
        color: white;
        padding: 5px 30px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        width: 40%;
        margin-top: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		transition-duration: 0.4s;
		cursor: pointer;
    }

    .paragraphs {
        font-family: "Halvetica Neue", "Halvetica", "Arial", "sans-serif";
        font-size: 16px;
        width: 100%;
        padding-left: 1rem;
        margin: 15px 0 23px;
        color: #102a43;
        font-weight: bold;
    }

    .error-message {
        font-family: "Halvetica Neue", "Halvetica", "Arial", "sans-serif";
        text-align: center;
        background-color: pink;
        border: .1rem solid red;
        border-radius: 1rem;
        padding: 1rem;
    }

    .lost {
        font-family: "Halvetica Neue", "Halvetica", "Arial", "sans-serif";
        font-size: 14px;
    }
	
	.button-submit:hover {
		background-color: #0d43bf;
		color: white;
    }

</style>


{# Assumes you set up the password_reset view in your URLconf #}
<div class="login-container">

    <form method="POST" class="form-login">
        {% if form.errors %}
        <div class="error-message">
            <p>Incorrect email address or password. Please try again.</p>
        </div>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <div class="error-message">
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        </div>
        {% else %}
        <div class="error-message">
            <p>Please log in to see this page.</p>
        </div>
        {% endif %}
        {% endif %}
        {% csrf_token %}
        <h1 class="headers">Log in</h1>
        <p class="paragraphs">{{ form.username.label_tag }}</p>
        {{ form.username }}
        <p class="paragraphs">{{ form.password.label_tag }}</p>
        {{ form.password }}
        <button type="submit" class="button-submit">Log in</button>
        <input type="hidden" name="next" value="{{ next }}">
        <p><a class="lost" href="{% url 'password_reset' %}">Forgot password?</a></p>
    </form>
</div>
