<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
          <title>Login Page</title>
          <link rel="stylesheet" href="Login_pages_design.css">
    </head>
    <body class="body_design">  
      <form method="post" class="form_login">
          <h1 class="headers">Login Page</h1>
          <p class="paragraphs">Username:</p>
            <input type="text" class="inputs" name="username" placeholder="Enter your username" required autofocus>
            <p class="paragraphs">Password:</p>
            <input type="password" class="inputs" name="password" placeholder="Enter your password" required>
            <button type="submit" class="button_submit">Login</button>
        </form> 
    </body>      
</html>